.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px
  }
  
.button {
    border: none;
    height: fit-content;
    padding: 12px;
    border-radius: 8px;
    background-color: navy;
    color: white;
  }